.carousel {
    width: 0 auto;
    max-height: 600px;
    position: absolute;
    top: 80px;
    z-index: -9998;
}

.carousel-item {
    border-bottom: 6px solid rgb(226, 66, 66);
}

.acform {
    margin-top: 40%;
    width: 0 auto;
    height: 150px;
    background-color: rgb(41, 41, 41);
}

@media screen and (min-width: 1100px) {
    .carousel {
        top: 0;
    }
}