.navbar {
    margin: 0 auto;
    padding: 0;
    background-color: rgba(51, 51, 51, 0.85);
    height: 80px; 
    border-bottom: 6px solid rgb(226, 66, 66);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.55);
}

.navbar > a {
    margin-left: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

.navbar > a > p {
    margin-bottom: 0;
    position: absolute;
    color: white;
}

.brandname span {
    color: rgb(226, 66, 66);
}

#brand1 {
    top: 0;
    bottom: 20px;
}

#brand2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    top: 52px;
    left: 3.1%;
}

.mr-auto {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.mr-auto > a {
    margin-right: 35%;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    border-bottom: 3px solid rgb(226, 66, 66);
    text-shadow: 0px 0px 3px white;
}

.activebar {
    color: white;
    border-bottom: 3px solid rgb(226, 66, 66);
    text-shadow: 0px 0px 3px white;
}

.form-inline {
    margin: 0;
    margin-right: 10%;
}

.collapse.show {
    position: absolute;
    top: 80px;
    background-color: rgba(22, 22, 22, 0.85);
}

.collapsing {
    display: none;
}